# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore files and directories in the app/bin folder
# Ignore all .class files
app/bin
app/bin/*
*.class


